body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3eebc; 
}

.container {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    width: 500px;
    text-align: left; 
}

h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #4a4a4a; /* Header color */
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
    font-weight: bold;
    text-align: left; /
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="number"], input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #63b466;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.passwordOutput {
    margin: 20px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 1.2em;
    word-break: break-all;
}

.copyBtn {
    background-color: #255f8f;
    
}

 .checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin: 5pt 0;
 }

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    text-align: left;
}

button {
    display: block;
    width: 100%;
    margin-top: 15px;
}
